<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>User Info</title>
</head>
<body>
<h1 class="title">Banana Pedalz</h1>
<h2 class="subtitle">Guitar presets:</h2>

<tr th:each="preset : ${presets}">
    <div class="preset">
    <a th:href="@{/preset/{id}(id=${preset.id})}" rel="next" class="hyperlink">
            <h3 class="presetTitle" th:text="${preset.name}"></h3>
            <div class="presetDesc">
                <h4 th:text="'by ' + ${preset.user.name}"/>
            </div>
            </div>
    </a>



</tr>
</body>
</html>